$primary-color: #FF9A0D;
$secondColor:#00A2FF;
$disableColor:#F5C37C;
$errorColor: #ff4800;
$emptyButtonDisableColor : #cdcdcd;

$backGroundColor: #ffffff;
$backGroundColor2: #f9f9f9;
$backGroundColor3: #f2f2f2;

$fontColor: #333333;
$fontColor2: #666666;
$fontColor3: #999999;

$fontSize: 16px;
$fontSize2: 14px;
$fontSize3: 12px;

:export {
  primaryColor: $primary-color,
}